body {
  font-family: Arial, sans-serif;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.container {
  width: 300px;
  background-color: #001f3f;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin: auto; 
  margin-top: 200px; 
}


/* Estilo do logotipo */
.logo {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  border: 2px solid #000; 
  border-radius: 10px; 
}


/* Estilo do título */
.title {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  
}

/* Estilo dos campos de entrada */
.container input[type="text"], .container input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


/* Estilo do botão */
button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

/* Estilo do link de esquecimento de senha */
a {
  display: block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}





